.Header-Bar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 1em;
  margin-bottom: 2em;
}

.Website-Logo {
  height: 150px;
  width: 150px; 
  margin-right: 0px;
}

.Order-Button {
  text-align: center;
  margin-left: 30%;
  font-size: 25px;
  text-decoration: none;
  color: black;
  margin-bottom: auto
}

.Order-Button:hover {
  text-decoration: underline;
}

.Boxes-Button {
  text-align: center;
  margin-left: 30px;
  font-size: 25px;
  text-decoration: none;
  color: black;
  margin-bottom: auto
}

.Boxes-Button:hover {
  text-decoration: underline;
}

.About-Button {
  text-align: center;
  margin-left: 30px;
  font-size: 25px;
  text-decoration: none;
  color: black;
  margin-bottom: auto
}

.About-Button:hover {
  text-decoration: underline;
}

.Contact-Button {
  text-align: center;
  margin-left: 30px;
  font-size: 25px;
  text-decoration: none;
  color: black;
  margin-bottom: auto
}

.Contact-Button:hover {
  text-decoration: underline;
}

.Sign-up {
  position: absolute;
  right: 25px;
  border: solid black 2px;
  font-size: 25px;
}
