.Header-Bar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 1em;
  margin-bottom: 2em;
}

.Website-Logo {
  height: 150px;
  width: 150px; 
  margin-right: 0px;
  cursor: pointer;
}
