.Header-links {
    font-size: 25px;
    text-decoration: none;
    color: black;
    width: 100%;
    text-align: center;
    margin-top: 8px;
  }
  
  .chevron-up {
    font-size: small;
    padding: 0 0 5px 5px;
  }
  
  .chevron-up:hover {
    transform: rotate(180deg);
    font-size: small;
    padding: 0 0 5px 5px;
  }
  
  .KS1-Button {
    text-decoration: none;
    color: black;
  }
  
  .KS1-Button:hover {
    text-decoration: underline;
  }
  
  .KS2-Button {
    padding-left: 25px;
    text-decoration: none;
    color: black;
  }
  
  .KS2-Button:hover {
    text-decoration: underline;
  }
  
  .KS3-Button {
    padding-left: 25px;
    text-decoration: none;
    color: black;
  }
  
  .KS3-Button:hover {
    text-decoration: underline;
  }
  
  .KS4-Button {
    padding-left: 25px;
    text-decoration: none;
    color: black;
  }
  
  .KS4-Button:hover {
    text-decoration: underline;
  }
  
  .KS5-Button {
    padding-left: 25px;
    text-decoration: none;
    color: black;
  }
  
  .KS5-Button:hover {
    text-decoration: underline;
  }
  
  .Sign-up {
    position: absolute;
    text-decoration: none;
    right: 25px;
    font-size: 25px;
    color: black;
  }
  
  .Sign-up:hover {
    text-decoration: underline;
  }
  
  .Login-Button {
    position: absolute;
    text-decoration: none;
    right: 150px;
    font-size: 25px;
    color: black;
  }
  
  .Login-Button:hover {
    text-decoration: underline;
  }