.Header-Bar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  margin-bottom: 2em;
  height: 96px;
  background-color: #eeee;
}

.Website-Logo {
  height: 150px;
  width: 150px; 
  margin-right: 0px;
  cursor: pointer;
  padding-top: 1em;
  padding-left: 1em;
}
