.Sign-up-box {
    width: 520px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
}

.Register {
    font-size: 25px;
}

.Register-form {
    width: 520px;
    height: 500px;
}

.Form-group{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.Form-control {
    width: 100%;
    display: block;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.5;
    color: grey;
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 5px;
}

.Form-button {
    display: inline-block;
    color: white;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: #337ab7;
    border-color: #0e3354;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.Form-button:hover {
    color: #337ab7;
    color: white;
}

.Cancel-button {
    display: inline-block;
    color: #337ab7;
    padding: 6px 12px;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
}

.Cancel-button:hover {
    text-decoration: underline;
}